:root{
    --link-hover-color: #FF6565;
    --default-text-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family: 'Source Sans Pro'; ;
    src: url(fonts/SourceSansPro-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url(fonts/SourceSansPro-Semibold.otf) format('opentype');
}
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url(fonts/SourceSansPro-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Source Sans Pro Light';
    src: url(fonts/SourceSansPro-Light.otf) format('opentype');
}
.results-section{
    position: relative;

    background: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;	
    height: 800px;

    padding: 120px 150px 80px 150px; 
    font-family: 'Source Sans Pro';
}
.results-text{
    text-align: center;
    padding: 0 20%;
    color: var(--default-text-color);
    
}
.results-text h2{
    font-size: 35px;
    margin-bottom: 40px;
}
.results-text p{
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 100px;
}
.results-icons{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.icon-container{
    position: relative;
    width: 250px;
    text-align: center;
    color: var(--default-text-color);
}
.icon-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container img{
    height: 200px;
}
.icon-container h3{
    font-size: 55px;
}
.icon-container p{
    font-size: 13px;
    font-family: 'Source Sans Pro Light';
}

@media screen and (max-width: 1024px){
    .results-section{
        padding: 70px 100px 80px 100px;
    }
    .results-text{
        padding: 0 10%;
    }
    .results-text p{
        margin-bottom: 70px;
    }
    .results-icons{
        margin: 0;
    }
    .icon-container img {
        height: 175px;
    }
}
@media screen and (max-width: 768px){
    .results-section{
        padding: 70px;
        height: 550px;
    }
    .results-text{
        padding: 0 1%;
    }
    .results-text h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .results-text p{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .icon-text h3 {
        font-size: 30px;
    }
    .icon-text p{
        font-size: 12px;
    }
     .icon-container img {
        height: 135px;
    }
}
@media screen and (max-width: 425px){
    .results-section{
        padding: 45px 30px;
        height: fit-content;
    }
    .results-text{
        padding: 0 2%;
    }
    .results-icons{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}