:root {
    --primary-color-1: #FAF1E6;
    
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-1);
}

article{
    flex: 2;
    overflow-y: auto;
    
}
aside{
    flex: 1;
    overflow-y: auto;
   
}
